<dx-load-panel
    *ngIf="isLoading"
    [visible]="true"
    [showPane]="false"
></dx-load-panel>

<ng-container *ngIf="!isLoading">
    <app-popup-container
        [width]="1000"
        [(visible)]="isShowListRoom"
        (onHiding)="onHiding()"
        [title]="'List rooms'"
        [footerTemplate]="popupFooter">
        <dx-validation-group>
            <div class="form-wrapper">
                <dx-load-panel
                    *ngIf="isProcessing"
                    [visible]="true"
                    [showPane]="false"
                    [message]="'Load'">
                </dx-load-panel>

                <ng-container>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="field w-90">
                                <div class="field-label">
                                    Total peoples
                                </div>
                                <div class="field-value">
                                    <dx-number-box
                                        [(value)]="totalPeoples"
                                        [step]="0">
                                    </dx-number-box>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="field w-90">
                                <div class="field-label">
                                    Status
                                </div>
                                <div class="field-value">
                                    <dx-select-box
                                        [(value)]="status"
                                        [dataSource]="roomStatusTypes"
                                        valueExpr="value"
                                        displayExpr="name">
                                        <dxi-validation-rule
                                            type="required"
                                            [message]="'This field is required'">
                                        </dxi-validation-rule>
                                    </dx-select-box>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

                <ng-container>
                    <dx-data-grid
                        #dxDataGridRoom
                        height="auto"
                        [dataSource]="listRooms"
                        [showRowLines]="true"
                        [showBorders]="true"
                        [showColumnLines]="true"
                        [hoverStateEnabled]="true"
                        [columnAutoWidth]="false"
                        [allowColumnResizing]="true"
                        [allowColumnReordering]="false">
                        <dxo-editing
                            mode="row"
                            [allowUpdating]="true"
                            [allowDeleting]="true">
                            <dxo-texts [confirmDeleteMessage]="null">
                            </dxo-texts>
                        </dxo-editing>

                        <dxo-paging [enabled]="false"></dxo-paging>

                        <dxi-column
                            caption="#"
                            alignment="center"
                            [allowEditing]="false"
                            [allowSorting]="false"
                            [width]="60"
                            [fixed]="true"
                            fixedPosition="left"
                            headerCellTemplate="indexHeaderCellTemplate"
                            cellTemplate="indexCellTemplate">
                            <div *dxTemplate="let row of 'indexHeaderCellTemplate'">
                                <span>Index</span>
                            </div>
                            <div *dxTemplate="let cell of 'indexCellTemplate'">
                                <ng-container>
                                    {{ cell.rowIndex + 1 }}
                                </ng-container>
                            </div>
                        </dxi-column>

                        <dxi-column
                            dataField="name"
                            caption="Name"
                            [width]="210"
                            [allowEditing]="false"
                            [width]="100"
                            alignment="right">
                        </dxi-column>

                        <dxi-column
                            [width]="150"
                            dataField="checkinDate"
                            alignment="center"
                            caption="Checkin date"
                            [minWidth]="130"
                            format="dd/MM/yyyy"
                            dataType="date"
                            [editorOptions]="{
                                pickerType: 'calendar'
                            }">
                            <dxi-validation-rule
                                type="required"
                                [message]="'This field is required'">
                            </dxi-validation-rule>
                        </dxi-column>

                        <dxi-column
                            [width]="150"
                            dataField="checkoutDate"
                            alignment="center"
                            [minWidth]="130"
                            format="dd/MM/yyyy"
                            dataType="date"
                            caption="Checkout date"
                            [editorOptions]="{pickerType: 'calendar'}">
                            <dxi-validation-rule
                                type="required"
                                [message]="'This field is required'">
                            </dxi-validation-rule>
                        </dxi-column>

                        <dxi-column
                            dataField="type"
                            caption="Type room"
                            [width]="120">
                            <dxo-lookup
                                [dataSource]="roomTypes"
                                valueExpr="value"
                                displayExpr="name">
                            </dxo-lookup>
                            <dxi-validation-rule
                                type="required"
                                [message]="'This field is required'">
                            </dxi-validation-rule>
                        </dxi-column>

                        <dxi-column
                            dataField="deduct"
                            [minWidth]="130"
                            alignment="right"
                            dataType="number"
                            caption="Deduct">
                            <dxi-validation-rule
                                type="required"
                                [message]="'This field is required'">
                            </dxi-validation-rule>
                        </dxi-column>

                        <dxi-column
                            dataField="prepay"
                            [minWidth]="130"
                            alignment="right"
                            dataType="number"
                            caption="Prepay">
                            <dxi-validation-rule
                                type="required"
                                [message]="'This field is required'">
                            </dxi-validation-rule>
                        </dxi-column>

                        <dxi-column
                            dataField="peopleNumber"
                            [minWidth]="130"
                            alignment="right"
                            dataType="number"
                            caption="Total peoples">
                            <dxi-validation-rule
                                type="required"
                                [message]="'This field is required'">
                            </dxi-validation-rule>
                        </dxi-column>

                        <dxi-column
                            dataField="note"
                            caption="Note"
                            [width]="200">
                        </dxi-column>

                        <dxi-column
                            caption="Action"
                            type="buttons"
                            alignment="center"
                            [width]="80">
                            <dxi-button
                                name="save"
                                icon="save"
                                [text]="''"
                                [hint]="'Save'"
                                [onClick]="onSaveSkill">
                            </dxi-button>
                            <dxi-button
                                name="cancel"
                                icon="revert"
                                [text]="''"
                                [hint]="'Cancel'"
                                [onClick]="onRevertDxGridRow">
                            </dxi-button>
                            <dxi-button
                                name="edit"
                                icon="fas fa-pencil-alt edit-icon"
                                [text]="''"
                                [hint]="'Edit'"
                                [onClick]="updateLookupData">
                            </dxi-button>
                            <dxi-button
                                name="delete"
                                [cssClass]="'far fa-trash-alt delete-icon'"
                                [hint]="'Delete'"
                                [text]="''"
                                [onClick]="onDeleteSkill">
                            </dxi-button>
                        </dxi-column>
                    </dx-data-grid>
                </ng-container>

                <ng-container>
                    <p class="mt-4">Customer Infomation</p>
                    <dx-data-grid
                        #dxDataGridCustomer
                        height="auto"
                        [(dataSource)]="customers"
                        [showRowLines]="true"
                        [showBorders]="true"
                        [showColumnLines]="true"
                        [hoverStateEnabled]="true"
                        [columnAutoWidth]="false"
                        [allowColumnResizing]="true"
                        [allowColumnReordering]="false">
                        <dxo-editing
                            mode="row"
                            [allowUpdating]="true"
                            [allowDeleting]="true">
                            <dxo-texts [confirmDeleteMessage]="null"></dxo-texts>
                        </dxo-editing>

                        <dxo-paging [enabled]="false"></dxo-paging>

                        <dxi-column
                            caption="#"
                            alignment="center"
                            [allowEditing]="false"
                            [allowSorting]="false"
                            [allowResizing]="false"
                            [formItem]="{ visible: false }"
                            [width]="60"
                            [fixed]="true"
                            headerCellTemplate="indexHeaderCellTemplate"
                            cellTemplate="indexCellTemplate">
                            <div *dxTemplate="let row of 'indexHeaderCellTemplate'">
                                <dx-button
                                    type="default"
                                    icon="plus"
                                    class="btn-add-row-circle"
                                    [stylingMode]="'outlined'"
                                    [hint]="'Add'"
                                    (onClick)="dxDataGridCustomer.instance.addRow()">
                                </dx-button>
                            </div>
                            <div *dxTemplate="let cell of 'indexCellTemplate'">
                                <ng-container>
                                    {{ cell.rowIndex + 1 }}
                                </ng-container>
                            </div>
                        </dxi-column>

                        <dxi-column
                            dataField="name"
                            caption="Name"
                            [width]="210"
                            [width]="100"
                            alignment="right">
                            <dxi-validation-rule
                                type="required"
                                [message]="'This field is required'">
                            </dxi-validation-rule>
                        </dxi-column>

                        <dxi-column
                            dataField="address"
                            caption="Address"
                            [width]="210"
                            [width]="100"
                            alignment="right">
                            <dxi-validation-rule
                                type="required"
                                [message]="'This field is required'">
                            </dxi-validation-rule>
                        </dxi-column>

                        <dxi-column
                            dataField="sex"
                            caption="Sex"
                            [width]="210"
                            [width]="100"
                            alignment="right"
                            cellTemplate="cellTemplate"
                            editCellTemplate="editCellTemplate">
                            <div *dxTemplate="let cell of 'cellTemplate'">
                                <dx-switch
                                    [(value)]="cell.value"
                                    [switchedOnText]="'Male'"
                                    [switchedOffText]="'Female'">
                                </dx-switch>
                            </div>
                            <div *dxTemplate="let cell of 'editCellTemplate'">
                                <dx-switch
                                    width="80"
                                    [(value)]="cell.value"
                                    [switchedOnText]="'Male'"
                                    [switchedOffText]="'Female'">
                                </dx-switch>
                            </div>
                        </dxi-column>

                        <dxi-column
                            dataField="email"
                            caption="Email"
                            [width]="210"
                            [width]="100"
                            alignment="right">
                            <dxi-validation-rule
                                type="required"
                                [message]="'This field is required'">
                            </dxi-validation-rule>
                        </dxi-column>

                        <dxi-column
                            [width]="150"
                            dataField="date"
                            alignment="center"
                            [minWidth]="130"
                            format="dd/MM/yyyy"
                            dataType="date"
                            caption="Date"
                            [editorOptions]="{
                                pickerType: 'rollers'
                            }">
                            <dxi-validation-rule
                                type="required"
                                [message]="'This field is required'">
                            </dxi-validation-rule>
                        </dxi-column>

                        <dxi-column
                            dataField="cmnd"
                            caption="Cmnd"
                            [width]="210"
                            [width]="100"
                            alignment="right">
                            <dxi-validation-rule
                                type="required"
                                [message]="'This field is required'">
                            </dxi-validation-rule>
                        </dxi-column>

                        <dxi-column
                            dataField="phone"
                            caption="Phone"
                            [width]="210"
                            [width]="100"
                            alignment="right">
                            <dxi-validation-rule
                                type="required"
                                [message]="'This field is required'">
                            </dxi-validation-rule>
                        </dxi-column>

                        <dxi-column
                            dataField="nationally"
                            caption="Nationally"
                            [width]="210"
                            [width]="100"
                            alignment="right">
                            <dxi-validation-rule
                                type="required"
                                [message]="'This field is required'">
                            </dxi-validation-rule>
                        </dxi-column>

                        <dxi-column
                            dataField="peopleNumber"
                            [minWidth]="130"
                            alignment="right"
                            dataType="number"
                            caption="People Number">
                            <dxi-validation-rule
                                type="required"
                                [message]="'This field is required'">
                            </dxi-validation-rule>
                        </dxi-column>

                        <dxi-column
                            dataField="note"
                            caption="Note"
                            [width]="210"
                            [width]="100"
                            alignment="right">
                        </dxi-column>
                        <dxi-column
                            caption="Action"
                            type="buttons"
                            alignment="center"
                            [width]="80">
                            <dxi-button
                                name="save"
                                icon="save"
                                [text]="''"
                                [hint]="'Save'"
                                [onClick]="onSaveSkill">
                            </dxi-button>
                            <dxi-button
                                name="cancel"
                                icon="revert"
                                [text]="''"
                                [hint]="'Cancel'"
                                [onClick]="onRevertDxGridRow">
                            </dxi-button>
                            <dxi-button
                                name="edit"
                                icon="fas fa-pencil-alt edit-icon"
                                [text]="''"
                                [hint]="'Edit'"
                                [onClick]="updateLookupData">
                            </dxi-button>
                            <dxi-button
                                *ngIf="isGroup"
                                name="delete"
                                [cssClass]="'far fa-trash-alt delete-icon'"
                                [hint]="'Delete'"
                                [text]="''"
                                [onClick]="onDeleteSkill">
                            </dxi-button>
                        </dxi-column>
                    </dx-data-grid>
                </ng-container>

                <ng-template #popupFooter>
                    <div class="d-flex">
                        <dx-button
                            type="normal"
                            class="mr-auto"
                            [text]="'Cancel'"
                            (onClick)="onHandleCancel()">
                        </dx-button>
                        <dx-button
                            class="ml-auto"
                            type="default"
                            [disabled]="!isFormDirty"
                            [text]="'Save'"
                            [useSubmitBehavior]="false"
                            (onClick)="onHandleSaving()">
                        </dx-button>
                    </div>
                </ng-template>
            </div>
        </dx-validation-group>
    </app-popup-container>
</ng-container>

<app-popover-confirm-box
    #deleteDetailConfirmPopover
    [message]="'Are you want to remove it out of list'"
    (onConfirm)="deleteRoom()">
</app-popover-confirm-box>
