<div class="wrapper">
    <div class="d-flex align-items-center">
        <div class="d-flex align-items-center p-0">
            <div class="field p-0">
                <div class="field-label">Type rooms</div>
                <div class="field-value">
                    <dx-select-box
                        [dataSource]="roomType"
                        [(value)]="querySearching.roomType"
                        (onValueChanged)="onChangedQuerySearching()"
                        displayExpr="name"
                        valueExpr="value">
                    </dx-select-box>
                </div>
            </div>
            <div class="field ml-3">
                <div class="field-label">From date</div>
                <div class="field-value">
                    <dx-date-box
                        [(value)]="querySearching.fromDate"
                        [max]="querySearching.toDate"
                        [useMaskBehavior]="true"
                        displayFormat="dd/MM/yyyy"
                        showClearButton="true"
                        type="date"
                        (onValueChanged)="onChangedQuerySearching()">
                    </dx-date-box>
                </div>
            </div>
            <div class="field ml-3">
                <div class="field-label">To date</div>
                <div class="field-value">
                    <dx-date-box
                        [(value)]="querySearching.toDate"
                        [min]="querySearching.fromDate"
                        [useMaskBehavior]="true"
                        displayFormat="dd/MM/yyyy"
                        showClearButton="true"
                        type="date"
                        (onValueChanged)="onChangedQuerySearching()">
                    </dx-date-box>
                </div>
            </div>
            <div class="field ml-5 p-0" *ngIf="listRoomsSelected.length">
                <div class="field-label">Selected rooms</div>
                <div class="field-value text-center">
                    {{listRoomsSelected.length}}
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex mt-3 ml-3">
        <div class="list-room">
            <div class="row" *ngFor="let item of floors">
                <div class="floor d-flex justify-content-center align-items-center">{{ item.name }}</div>
                <dx-button
                    class="room"
                    [id]="room.id"
                    *ngFor="let room of item.rooms"
                    [text]="room.name"
                    [ngClass]="{
                    'bg-warning': room.status === roomStatus.Booking,
                    'bg-success': room.status === roomStatus.Available,
                    'bg-danger': room.status === roomStatus.Checkin
                }"
                    (onClick)="onClickedRoom(room, $event)">
                </dx-button>
            </div>
        </div>
        <div class="action-booking d-flex flex-column ml-5">
            <dx-button type="normal"
                       text="Booking"
                       (onClick)="onToggleBooking()">
            </dx-button>
            <dx-button type="normal"
                       class="mt-3"
                       text="Checkin">
            </dx-button>
            <dx-button type="normal"
                       class="mt-3"
                       text="Checkout">
            </dx-button>
            <dx-button type="normal"
                       class="mt-3"
                       text="Transfer">
            </dx-button>
        </div>
    </div>

</div>

<ng-container *ngIf="isShowBooking">
    <app-admin-booking [(visible)]="isShowBooking"
                       [allRoomsAvailable]="allRoomsAvailable"
                       [listRoomSelected]="listRoomsSelected"
                       (onSaveBooking)="onSaveBooking()"
                       (onDeleteRoomId)="onDeleteRoomId($event)">
    </app-admin-booking>
</ng-container>

<ng-container *ngIf="isShowPopupTransferRoom">
    <app-popup-container title="Transfer room"
                         [width]="700"
                         [(visible)]="isShowPopupTransferRoom"
                         [height]="'auto'">
        <div class="dx-field">
            <div class="dx-field-label">From room</div>
            <div class="dx-field-value">
                <dx-select-box class="w-100"
                               [dataSource]="roomSource"
                               [(value)]="transferRoom.fromRoomId"
                               valueExpr="id"
                               displayExpr="name"
                               [showClearButton]="true">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="field is required"></dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">To room</div>
            <div class="dx-field-value">
                <dx-select-box class="w-100"
                               [dataSource]="roomSource"
                               [(value)]="transferRoom.toRoomId"
                               valueExpr="id"
                               displayExpr="name"
                               [showClearButton]="true">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="field is required"></dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Options transfer room</div>
            <div class="dx-field-value">
                <dx-select-box class="w-100"
                               [dataSource]="transferRoomType"
                               [(value)]="transferRoom.option"
                               valueExpr="value"
                               displayExpr="name">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="field is required"></dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>
        </div>

        <div class="row">
            <dx-button
                class="ml-auto text-right"
                type="default"
                [text]="'Save'"
                [disabled]="!transferRoom.fromRoomId || !transferRoom.toRoomId || !transferRoom.option"
                [useSubmitBehavior]="false">
            </dx-button>
        </div>
    </app-popup-container>
</ng-container>
