@import "src/styles/scss/variables";

.wrapper {
    padding: 20px 5px;

    .list-room {
        .selected {
            opacity: 0.5;
        }
    }

    .row {
        .floor, .room {
            width: 120px;
            height: 50px;
            border: 1px solid #ddd;
        }

        .floor {
            background: #3cc;
        }
    }
}
