@import "src/styles/scss/variables";
.wrapper {
    margin: 10px;

    .row {
        .floor, .room {
            width: 120px;
            height: 50px;
            border: 1px solid #ddd;
        }

        .floor {
            background: #3cc;
        }

        .hidden {
            visibility: hidden;
        }
    }
}
