<div class="wrapper p-10">
    <div class="row d-flex align-items-center">
        <div class="col-md-9 d-flex align-items-center p-0">
            <div class="field col-md-3 p-0">
                <div class="field-lable">Status</div>
                <div class="field-value">
                    <dx-select-box
                        [dataSource]="roomStatusType"
                        displayExpr="name"
                        valueExpr="value"
                        [(value)]="selectedStatus">
                    </dx-select-box>
                </div>
            </div>
            <div class="field col-md-3">
                <div class="field-lable">From date checkin</div>
                <div class="field-value">
                    <dx-date-box
                        [(value)]="checkinDate"
                        [max]="checkoutDate"
                        [useMaskBehavior]="true"
                        displayFormat="dd/MM/yyyy"
                        [showClearButton]="true"
                        type="date">
                    </dx-date-box>
                </div>
            </div>
            <div class="field col-md-3">
                <div class="field-lable">To date</div>
                <div class="field-value">
                    <dx-date-box
                        [(value)]="checkoutDate"
                        [min]="checkinDate"
                        [useMaskBehavior]="true"
                        displayFormat="dd/MM/yyyy"
                        [showClearButton]="true"
                        type="date">
                    </dx-date-box>
                </div>
            </div>
        </div>
        <div class="col-md-3 text-right">
            <dx-button
                type="default"
                icon="far fa-paper-plane"
                text="transfer room"
                (onClick)="showTransferRoomPopup()">
            </dx-button>
        </div>
    </div>

    <div class="list-room">
        <div class="row" *ngFor="let item of floors">
            <div class="floor d-flex justify-content-center align-items-center">{{ item.name }}</div>
            <dx-button
                [id]="'room-' + room.name"
                class="room"
                *ngFor="let room of item.rooms"
                [ngClass]="{
                    hidden:
                        selectedStatus !== roomStatus.All &&
                        room.status !== selectedStatus,
                    'bg-warning': room.status === roomStatus.Booking,
                    'bg-success': room.status === roomStatus.Available,
                    'bg-danger': room.status === roomStatus.Checkin,
                    hiddenViaDate:
                        checkinDate !== null && checkoutDate !== null
                            ? room.status === roomStatus.Available ||
                              room.status === roomStatus.All ||
                              checkinDate > room.checkoutDate ||
                              room.checkinDate > checkoutDate
                            : false
                }"
                (onClick)="onClickRoom(room)"
                [text]="room.name"
                [template]="'buttonTemplate'">
                <div *dxTemplate="let buttonData of 'buttonTemplate'">
                    {{buttonData.text}} ({{isRoomSingle(room) ? "S" : "D"}})
                </div>
            </dx-button>
        </div>
    </div>
</div>

<dx-popover
    [target]="'#room-' + selectedRoom.name"
    position="right"
    [width]="300"
    [(visible)]="visible">
    <dx-list [dataSource]="menus" itemTemplate="itemTemplate">
        <div *dxTemplate="let item of 'itemTemplate'" (click)="onClickItem(item)"
             class="d-flex align-items-center">
            <div class="icon-style">
                <i *ngIf="!!item.icon" class="{{item.icon}}"></i>
            </div>
            <div class="ml-2"> {{item.name}}</div>
        </div>
    </dx-list>
</dx-popover>

<ng-container *ngIf="isShowPopupTransferRoom">
    <app-popup-container title="Transfer room"
                         [width]="700"
                         [(visible)]="isShowPopupTransferRoom"
                         [height]="'auto'">
        <div class="dx-field">
            <div class="dx-field-label">From room</div>
            <div class="dx-field-value">
                <dx-select-box class="w-100"
                               [dataSource]="roomSource"
                               [(value)]="transferRoom.fromRoomId"
                               valueExpr="id"
                               displayExpr="name"
                               [showClearButton]="true">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="field is required"></dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">To room</div>
            <div class="dx-field-value">
                <dx-select-box class="w-100"
                               [dataSource]="roomSource"
                               [(value)]="transferRoom.toRoomId"
                               valueExpr="id"
                               displayExpr="name"
                               [showClearButton]="true">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="field is required"></dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>
        </div>

        <div class="dx-field">
            <div class="dx-field-label">Options transfer room</div>
            <div class="dx-field-value">
                <dx-select-box class="w-100"
                               [dataSource]="transferRoomType"
                               [(value)]="transferRoom.option"
                               valueExpr="value"
                               displayExpr="name">
                    <dx-validator>
                        <dxi-validation-rule type="required" message="field is required"></dxi-validation-rule>
                    </dx-validator>
                </dx-select-box>
            </div>
        </div>

        <div class="row">
            <dx-button
                class="ml-auto text-right"
                type="default"
                [text]="'Save'"
                [disabled]="!transferRoom.fromRoomId || !transferRoom.toRoomId || !transferRoom.option"
                [useSubmitBehavior]="false"
                (onClick)="onHandleTransfer()">
            </dx-button>
        </div>
    </app-popup-container>
</ng-container>
