<div class="wrapper p-10">
    <div class="row">
        <div class="col-md-8 d-flex align-items-center p-0">
            <div class="field col-md-3 p-0">
                <div class="field-lable">Tìm kiếm theo trạng thái</div>
                <div class="field-value">
                    <dx-select-box
                        [dataSource]="roomStatusType"
                        displayExpr="name"
                        valueExpr="value"
                        [(value)]="selectedStatus"
                    ></dx-select-box>
                </div>
            </div>
            <div class="field col-md-3">
                <div class="field-lable">Tìm kiếm theo ngày checkin</div>
                <div class="field-value">
                    <dx-date-box
                        [(value)]="checkinDate"
                        [max]="checkoutDate"
                        [useMaskBehavior]="true"
                        displayFormat="dd/MM/yyyy"
                        [showClearButton]="true"
                        type="date"
                    >
                    </dx-date-box>
                </div>
            </div>
            <div class="field col-md-3">
                <div class="field-lable">Ngày checkout</div>
                <div class="field-value">
                    <dx-date-box
                        [(value)]="checkoutDate"
                        [min]="checkinDate"
                        [useMaskBehavior]="true"
                        displayFormat="dd/MM/yyyy"
                        [showClearButton]="true"
                        type="date"
                    >
                    </dx-date-box>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

    <div class="list-room">
        <div class="row" *ngFor="let item of floors">
            <div class="floor d-flex justify-content-center align-items-center">{{ item.name }}</div>
            <dx-button
                [id]="'room-' + room.name"
                class="room"
                *ngFor="let room of item.rooms"
                [ngClass]="{
                    hidden:
                        selectedStatus !== roomStatus.All &&
                        room.status !== selectedStatus,
                    'bg-warning': room.status === roomStatus.Booking,
                    'bg-success': room.status === roomStatus.Available,
                    'bg-danger': room.status === roomStatus.Checkin,
                    hiddenViaDate:
                        checkinDate !== null && checkoutDate !== null
                            ? room.status === roomStatus.Available ||
                              room.status === roomStatus.All ||
                              checkinDate > room.checkoutDate ||
                              room.checkinDate > checkoutDate
                            : false
                }"
                (onClick)="onClickRoom(room)"
                [text]="room.name"
            >
            </dx-button>
        </div>
    </div>
</div>

<dx-popover
    [target]="'#room-' + selectedRoom.name"
    (onClick)="toggleDefault()"
    position="right"
    [width]="300"
    [(visible)]="selectedRoom && selectedRoom.id"
>
    <dx-list [dataSource]="menus" itemTemplate="itemTemplate">
        <div *dxTemplate="let item of 'itemTemplate'" (click)="onClickItem(item)"
            class="d-flex align-items-center">
            <div class="icon-style">
                <i *ngIf="!!item.icon" class="{{item.icon}}"></i>
            </div>
            <div class="ml-2"> {{item.name}}</div>
        </div>
    </dx-list>
</dx-popover>
