<div class="wrapper mt-2 d-flex">
    <div class="d-flex" *ngFor="let item of services">
        <div class="dx-field mr-3">
            <div class="dx-field-label">{{item.name}}</div>
            <div class="dx-field-value">
                <dx-number-box [(value)]="item.quantity"
                               min="0"
                               [readOnly]="readOnly"
                               [showSpinButtons]="true">
                </dx-number-box>
            </div>
        </div>
    </div>
</div>
