<div id="dx-data-grid">
    <dx-data-grid #dxDataGrid
                  class="w-100"
                  [height]="300"
                  [dataSource]="expenseAccounts"
                  [showBorders]="true"
                  [showRowLines]="true"
                  [columnAutoWidth]="true"
                  (onRowUpdated)="onDxGridRowUpdated($event)"
                  (onRowInserted)="onDxGridRowInserted($event)">
        <dxo-editing mode="row"
                     [allowUpdating]="true"
                     [allowDeleting]="true"
                     [useIcons]="false">
            <dxo-texts [confirmDeleteMessage]="null"></dxo-texts>
        </dxo-editing>

        <dxi-column caption="#"
                    alignment="center"
                    [allowEditing]="false"
                    [allowSorting]="false"
                    [width]="40"
                    [fixed]="true"
                    fixedPosition="left"
                    headerCellTemplate="indexHeaderCellTemplate"
                    cellTemplate="indexCellTemplate">
            <div *dxTemplate="let row of 'indexHeaderCellTemplate'">
                <dx-button type="default" icon="plus"
                           class="btn-add-row-circle"
                           [stylingMode]="'outlined'"
                           [hint]="'AddRow'"
                           (onClick)="onAddExpenseAccount()">
                </dx-button>
            </div>
            <div *dxTemplate="let cell of 'indexCellTemplate'">
                <span *ngIf="!cell.row.isNewRow">{{cell.rowIndex + 1}}</span>
                <span *ngIf="cell.row.isNewRow"></span>
            </div>
        </dxi-column>


        <dxi-column type="buttons" alignment="center" [width]="100">
            <dxi-button name="save"
                        [text]="''"
                        icon="save">
            </dxi-button>
            <dxi-button name="cancel"
                        [text]="''"
                        icon="revert">
            </dxi-button>
            <dxi-button name="edit"
                        [text]="''"
                        icon="fas fa-pencil-alt edit-icon">
            </dxi-button>
            <dxi-button name="delete"
                        [cssClass]="'far fa-trash-alt delete-icon'"
                        [text]="''"
                        [onClick]="onDeleteDxGridRow">
            </dxi-button>
        </dxi-column>
    </dx-data-grid>
</div>

<app-popover-confirm-box #deleteGridRowConfirmPopover
                         [message]="'Delete Record Confirm Question'"
                         (onConfirm)="onDeleteExpenseAccount()">
</app-popover-confirm-box>
